header
  .navbar.bg-base-100.shadow-sm
    .flex-1
      = link_to root_path, class: "btn btn-ghost text-xl" do
        = inline_svg_tag("bear.svg", class: "fill-current")
        | くまーんの巣

    .flex-none
      .dropdown.dropdown-end
        button.btn.btn-square.btn-ghost tabindex="0"
          = inline_svg_tag("dots_menu.svg", class: "inline-block h-5 w-5 stroke-current")

        ul.dropdown-content.menu.bg-base-100.rounded-box.mt-2.w-52.p-2.shadow tabindex="0"
          li
            = link_to t("header.home"), root_path
          li
            = link_to t("header.profile"), profile_path
